.divcentered {
    display: table;
    margin: 0 auto;
}

.divmanual {
    font-size: 75%;
}

.sample_container_height100 {
    height: 100px;
}

.sample_container_height150 {
    height: 150px;
}

