.vectorline {
    stroke: #000000;
    stroke-width: 2;
    fill: #000000;
}

.vectorsize {
    stroke: #000000;
    stroke-width: 1;
    fill: #000000;
}

.vectorsize.hidden {
    stroke: #000000;
    stroke-width: 1;
    fill: #000000;
    visibility: collapse;
}

.vectordvalue {
}

.vectordvalue.hidden {
    visibility: collapse;
}

.vectorarrow {
    stroke: #000000;
    stroke-width: 1;
    fill: #000000;
}

.vectorp1x {
    stroke: #808080;
    fill: #000000;
}

.vectorp2x {
    stroke: #808080;
    fill: #000000;
}

.vectorp1y {
    stroke: #808080;
    fill: #000000;
}

.vectorp2y {
    stroke: #808080;
    fill: #000000;
}

.vectorendpoint {
    stroke: transparent;
    stroke-width: 2;
    fill: #ff0000;
    fill-opacity: .5;
}

.vectorstartpoint {
    stroke: transparent;
    stroke-width: 2;
    fill: #ff0000;
    fill-opacity: .5;
}

.vectorvalued {
    text-anchor: middle
}

.vectorvaluedline {
    stroke: #808080;
    fill: #000000;
}

.vectorvaluedlinearrow {
    stroke: #808080;
    stroke-width: 1;
    fill: #808080;
}

.vectorname {
    text-anchor: middle;
}

.vectornamerect {
    stroke: #000000;
    stroke-width: 1;
    fill: rgba(191, 188, 188, 0.7);
}
